.footer a{
  background-color: transparent;
  font-family: 'inter-regular', sans-serif;
  font-size: 16px;
}

.footer h3 {
  margin-right: 80px;
  display: flex;
  justify-content: flex-end;
  font-family: 'Manjari-Bold';
  font-weight: 400;
  font-size: 10vw;
  overflow: hidden;
  padding-top: 40px;
  padding-bottom: 0px;



  color: transparent; /* texte non rempli */
  -webkit-text-stroke: 2px #F4541E; /* contour orange */
}

hr {
  height: 2px;
  border: none;
  background-color: #F4541E;
}

.nav-footer1,
.nav-footer2,
.social-media {
  margin-left: 0px;
  margin-right: 0px;
  padding: 40px 80px 40px 80px;
  display: flex;
  gap: 40px;
}


.nav-footer1 a,
.nav-footer2 a,
.social-media a {
  position: relative;
  text-decoration: none;
  color: #F4541E;
  text-transform: uppercase;
  text-align: center;
}

.social-media a {
  font-size: 28px;
  transition: color 0.3s ease;
}

.social-media a:hover {
  color: #F58D4B;
}

.nav-footer1 a::after,
.nav-footer2 a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 1px;
  background-color: #F4541E;
  transition: width 0.3s ease;
}

.nav-footer1 a:hover::after,
.nav-footer2 a:hover::after {
  width: 100%;
}



footer p {
  color: #F4541E;
}

.footer-lastline {
  margin-left: 80px;
  padding: 40px 0px 40px 0px;
  font-size: 12px;
  font-family: 'inter-light', sans-serif;

}

.mobile-nav-footer {
  display: flex;
  flex-direction: column;
}


.footer-title{
  font-family: 'inter-extralight';
  color: #F4541E;
  width: max-content;
  margin-bottom: 8px;
}

.footer-flex{
  font-family: 'inter-light', sans-serif;
  margin-top: 50px;
  flex-wrap: wrap;
  width: 70%;
  display: flex;
  gap: 40px;
  margin: 40px 80px 40px 80px;
}


@media (max-width: 1400px) {

  .mobile-nav-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-footer1,
  .nav-footer2 {
    display: flex;
    flex-direction: column;
    font-size: 16px;

  }

  .nav-footer1 {
    margin-left: 0px;
    align-items: flex-start;
  }

  .nav-footer2 {
    margin-right: 0px;
    align-items: flex-end;
  }

  .nav-footer1 a,
  .nav-footer2 a {
    white-space: nowrap;
  }



  .footer-lastline {
    margin: 0;
    text-align: center;
    padding: 20px 0;
  }
}

@media (max-width: 720px) {
  .footer h3 {
    justify-content: center;
    margin: 0;
  }
  .mobile-nav-footer {
    flex-direction: column;
  }


  .social-media {
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 40px 0;
  }

  .nav-footer1,
  .nav-footer2 {
    padding: 0;
    margin: 0;
    align-items: center;
    padding-top: 40px;
  }

  .social-media {
    padding-top: 80px;
  }


  .footer-flex {
    display: flex;
    justify-content: center;
    align-items: center; /* optionnel, si besoin */
    flex-wrap: wrap;
    text-align: center;
    font-family: 'inter-light', sans-serif;
    width: 70%;
    margin: 40px auto; /* centrage horizontal */
    gap: 40px;
  }
  
  

}



